@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,500;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    min-height: 100vh;
    min-width: 100vw;
    overflow:hidden;
    overflow-y:hidden;  /*для вертикального*/
    overflow-x:hidden; 
}
body{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;

}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
  }
  button, 
  button:active, 
  button:focus {
      outline: none;
  }
button{
    display: flex;
    padding: 20px 40px;
    border: 2px solid rgb(72,175,73);
    border-radius: 15px;
    font-family: 'Montserrat Alternates', sans-serif;
}
button:active{
    display: flex;
    padding: 20px 40px;
    border: 2px solid rgb(72,175,73);
    border-radius: 15px;
    font-family: 'Montserrat Alternates', sans-serif;
}
span{
    display: inline-block;
    font-size: 15px;

   
    position: relative;
}
span::before{
    content: url(f-check.png);
    display: block;
    position: absolute;
    left: 0%;
    margin-left: -30px;
    top: -5px;

}
span:active + span:before{
    content: url(f-cross.png);
}
