.about_us{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    justify-self: center;
    padding-top: 5%;
    background-color: #00C4C4;
    
    &__img{
        max-width: 500px;
        padding: 2% 0;
        padding-left: 1%;
        padding-right: 10%;
        width: fit-content;
        height: auto;
    }
    img{
        
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0px 15px rgba(0,0,0,0.5);
        border-radius: 80%;
        border-inline: 70%;
        
      }
      &__content{
          max-width: 500px;
          margin: auto;
          color: #FFFFFF;
      }
      &__title{
          font-size: 70px;
          font-weight: 600;
          letter-spacing: 1.5;
          margin-bottom: 5%;
      }
      &__text{
        font-size: 17px;
        line-height: 2px

      }
}
