.about_us{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding-top: 5%;
    
    &__img{
        padding: 2% 0;
        padding-left: 1%;
        padding-right: 5%;
        height: auto;
        
    }
    img{
       
        width: fit-content;
        
        box-shadow: 0 0 50px rgba(0,0,0,0.5);
        border-radius: 50%;
      }
      &__content{
          max-width: 500px;
      }
}
