.choice{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    min-height: 50vh;
    &__list{
        max-width: 400px;
    }
    &__items{
        
        min-width: 400px;
        min-height: 100px;
        -items: center;
        margin-bottom: 5px;
        
        &_link{
            display: grid;
    grid-template-columns: 9fr 1fr;
        min-width: 400px;
        min-height: 50px;
        align-items: center;
        margin-bottom: 5px;
        grid-gap: 10px;
        }
        &_text{
            min-width: 70%;
           display: inline-block;
            text-align: center;
            border-right: 1px solid black;
            min-height: 100px;
            align-self: center;
        }
    }
    

}
.fas{
    
}