.choice{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    min-height: 50vh;
    &__list{
        align-self: center;
    }
    &__items{
        border: 1px solid black;
        display: flex;
        width: 400px;
        min-height: 100px;
        display: flex;
        
        align-content: center;
        flex-wrap: nowrap;
        justify-content: space-between;
        display: flex;
        align-items: center;
        &_link{
           
            
        }
        &_text{
            max-width: 200px ;
            align-content: center;
        }
    }
    svg{
        max-width: 55px;
        max-height: 55px;
    }

}
.img{
    max-width: 55px;
    max-height: 55px;
}