.choice{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    min-height: 50vh;
    &__list{
        align-self: center;
    }
    &__items{
            border: 1px solid black;
            display: flex;
        &_link{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: space-between;
        }
        &_text{
            float: left;
        }
    }
    svg{
        float: right;
    }

}