.choice{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    min-height: 50vh;
    &__list{
        max-width: 400px;
    }
    &__items{
        display: flex;
            flex-wrap: nowrap;
            align-content: center;
            align-self: center;
            align-items: center;
        min-width: 400px;
        min-height: 100px;
        
        &_link{
            display: flex;
            flex-wrap: nowrap;
            align-content: center;
        }
        &_text{
            min-width: 70%;
           display: inline-block;
            text-align: center;
        }
    }
    

}
