.choice{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    min-height: 50vh;
    &__list{
        max-width: 400px;
    }
    &__items{
        
        min-width: 400px;
        min-height: 100px;
        margin-bottom: 5px;

        
        
    }
    
    &_link{
        display: flex;
    }
        
    &_text{
        
    }
}
.fas{
    
}