.choice{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    min-height: 50vh;
    &__list{
        max-width: 400px;
    }
    &__items{
        
        min-width: 400px;
        margin-bottom: 15px;
        justify-content: center;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        height: auto;
    }
    
    &__link{
        color:#262626;
        margin: auto 0;
    }
        
    &__text{
        color:#262626;
        text-align: center;
        justify-self: center;
        position: relative;
        margin: auto 0;
        font-size: 20px;
        height: auto;
    }
}
.fas{
    color:#262626;
    text-align: center;
    margin: auto;
    margin: auto 0;
    position: relative;
    height: auto;
    width: 25px;
    &::after{
        content: "";
        position: absolute;
        right: 170%;
        top: 0;
        color: black;
        height: auto;
        border-left: 1px solid black;
        font-size: 50px;
    }
}