.choice{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    min-height: 50vh;
    &__list{
        max-width: 400px;
    }
    &__items{
        display: grid;
  grid-template-columns: 9fr 1fr;
        min-width: 400px;
        min-height: 100px;
        align-items: center;
        
        &_link{
            display: flex;
            flex-wrap: nowrap;
            align-content: center;
        }
        &_text{
            min-width: 70%;
           display: inline-block;
            text-align: center;
            border-right: 1px solid black;
            height: inherit;
        }
    }
    

}
.fas{
    
}