.choice{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    min-height: 50vh;
    padding-top: 50px;
    background-color: #70BFFF;
    &__list{
        max-width: 400px;
    }
    &__items{
        min-height: 100px;
        min-width: 400px;
        background-color: white;
        justify-content: center;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        height: auto;
        margin: auto 0;
        
        justify-items: center;
        margin-bottom: 15px;
        align-items: center;

    }
    
    &__link{
        color:#262626;
        justify-content: center;
        margin: auto 0;
        justify-self: center;
        justify-items: center;
        padding: auto 50px;
        background-color: white;
        align-items: center;
    }
        
    &__text{
        color:#262626;
        text-align: center;
        justify-self: center;
        position: relative;
        margin: auto 0;
        font-size: 25px;
        height: auto;
        justify-self: center;
        justify-items: center;
    }
}
.fas{
    color:#262626;
    text-align: center;
    margin: auto;
    margin: auto 0;
    position: relative;
    justify-content: center;
    height: auto;
    width: 35px;
    justify-items: center;
    justify-self: center;
    padding-right: 5px;
    &::before{
        font-size: 28px;
        padding-right: 5px;
    }
    &::after{
        content: "";
        position: absolute;
        right: 170%;
        justify-items: center;
        top: -36px;
        justify-self: center;
        justify-content: center;
        color: black;
        height: 100px;
        border-left: 1px solid black;
        font-size: 50px;
    }
}