* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    min-width: 100vw;
    min-height: 100vh;
    padding: 0 165px;
  }
  
  li {
    list-style: none;
  }
  
  select {
    outline: none;
  }
  
  a {
    text-decoration: none;
  }
  @media only screen and (max-width: 480px) {
    html, body {
        
        padding: 0 15px;
      }
  }