* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    min-width: 100vw;
    min-height: 100vh;
  }
 section {
  padding: 0 85px;
  } 
  li {
    list-style: none;
  }
  
  select {
    outline: none;
  }
  
  a {
    text-decoration: none;
  }

.cachee_button{
    
}



  @media screen and (max-width: 992px){
    section {
        
        padding: 0 45px;
      }
  }
  @media only screen and (max-width: 600px) {
    section {
        
        padding: 0 15px;
      }
  }