@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
  }
 section {
  padding: 0 85px;
  } 
  li {
    list-style: none;
  }
  
  select {
    outline: none;
  }
  
  a {
    text-decoration: none;
  }

.cachee_button{
    border: 1px solid orangered;
}



  @media screen and (max-width: 992px){
    section {
        
        padding: 0 45px;
      }
  }
  @media only screen and (max-width: 600px) {
    section {
        
        padding: 0 15px;
      }
  }