.gallery{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-self: center;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 100vw;
    background-color: #FFE92F;
    &__title{
        font-size: 90px;
        color: #262626;
        letter-spacing: 2.5px;
        margin: auto;
        margin-bottom: 15px;
    }
    &__text{
        font-size: 17px;
        max-width: 577px;
        letter-spacing: 1.5px;
        margin: auto;
        text-align: center;
    }
    &__wrepper{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px;
       
        
    }
    &__items{
       
    }
    &__img{
        padding: 15px;
        width: fit-content;
        &--large{
            
        }
    }
    
   img{
    max-width: 80%;
   }

}