@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.header{
    background-image: url(../img/bck1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    padding-bottom: 10px;
    &__navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: center;
    }

    
    &__logo{
        font-family: 'Pacifico', cursive;
        color: #262626;
        font-size: 50px;
    }
}


























@media screen and (max-width: 992px){
    .header{
        
        padding: 0 45px;
      }
  }
  @media only screen and (max-width: 600px) {
    .header{
        
        padding: 0 15px;
      }
  }