//colors
$white: #ffffff;
$black: #000000;
$text-color: #262626;
$col-btn: #FF6033;
$col-btn-01: #5585A2;
$col-btn-02: #96B92C;
$col-btn-03: #F72B3B;
$col-02: #00C4C4;
$col-03: #70BFFF;
$col-04: #FFE92F;
$col-05: rgba(0, 196, 196, .5);
$col-06: #b07cf7;
$col-07: #355b82;
$col-footer-text: #B9B9B9;
$col-footer-text-01: #ff2b58;
//font-sizes
$title-fsz: 90px;
$start-title-fsz: 60px;
$logo-fsz: 50px;
$subtitle-fsz: 40px;
$small-logo-fsz: 25px;
$btn-fsz: 20px;
$text-fsz: 17px;
$small-fsz: 15px;
$smallest-fsz: 13px;
//blog-card-font-sizes
$fsz-01: 32px;
$fsz-02: 21px;
//font-family
$ff-pacifico: 'Pacifico',
cursive;
$ff-raleway: 'Raleway',
sans-serif;