@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500&display=swap');


$font: 'Dosis', sans-serif;
$price-color: #02995B;
$font: 'Dosis', sans-serif;
$text-color: #333333;
$background-color: #e5b366;
$card-color: white;