.aboutus{
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 1px solid #3C3C3C;
    max-width: 903px;
    align-self: center;
        align-content: center;
        align-items: center;
}