.main{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-self: center;
    align-content: center;
    align-items: center;
}
.aboutus{
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 903px;
    align-self: center;
    align-content: center;
    align-items: center;
    position:relative;
    border-right: 2px solid #3c3c3c;
    border-left: 2px solid #3c3c3c;
    border-bottom: 2px solid #3c3c3c;
    position: relative;
    &_title{
        overflow:hidden;
	margin:0 0px 0 -10px;
	font-size:2em;
	line-height:1em;
    white-space:nowrap;
    margin: 50px;
    padding: 50px;
    position: absolute;
    bottom: 30%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    &::after{
        content: "";
        position: absolute;
        height: 2px;
        width: 40%;
        background: #3c3c3c;
        top: 50%;
    }
    &::before{
        content: "";
        position: absolute;
        height: 2px;
        width: 40%;
        background: #3c3c3c;
        top: 50%;
    
    }
    
    }
}