$style: "album";
.#{$style} {
    margin: 0;
    padding: 0;
    &__wrapper{
        @include flex(start, stretch, row, wrap );
        margin: 0;
    padding: 0;
    }
    &__items{
        width: 25%;
        height: 160px;
        margin-right: 5px;
        position: relative;
        &:nth-child(3n-1){
            width: 45%;
        }
    }
    img{
        width: 100%;
        height: inherit;
    }
    &__text{
        position: absolute;
        font-family: 'Lato', sans-serif;
        color: #FFFFFF;
        font-size: 56px;
    }
}