$style: "album";
.#{$style} {
    
    &__wrapper{
        @include flex(start, flex-start, row, nowrap );
    }
    &__items{
        width: 25%;
        height: 160px;
    }
    img{
        width: 100%;
        height: inherit;
    }
}