$style: "direction";
.#{$style} {
    @include flex (center, center, column, wrap);
    &__img-wrapper{
        margin-bottom: 95px;
    }
    &__name{
        font-size: 20px;
    font-weight: 700;
    color: #3c3c3c;
    text-transform: uppercase;
    letter-spacing: 5.26px;
    margin-bottom: 20px;
}
}