$main-font: 'Lato', sans-serif;
//colors
$white: #ffffff;
$dark: #3c3c3c;
//font-sizes
$title-size: 54px;
$subtitle-size: 15px;
$large-text: 34px;
$medium-text: 16px;
$small-titles: 20px;
$small-text: 14px;
$contact-text: 30px;