.footer{
    max-width: 100vw;
    text-align: center;
    padding-top: 120px;
    background-size: 100% 100%;
    font-family: $regular;
    background-color: #232323;
    color: white;
    &__logo{
        color: white;
    }
}