.quote{
    background-image: url(../img/bck5.png);
    max-width: 100vw;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 120px;
    background-size: 100% 100%;
    font-family: $regular;
    &__title{
        font-size: 36px;
        font-family: $title;
        color: #FFFFFF;
        font-weight: 400;
        margin-bottom: 35px;
    }
    &__wrapper{
        display: flex;
        flex-direction: row;
        background-color: #333333;
        color: #FEFEFE;
    }
    &__items{
        text-align: left;
        
        font-size: 20px;
        &_title{
            margin-bottom: 25px;
        }
    }
    
}