@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,200&family=Oswald:wght@300&family=Roboto+Slab:wght@200&display=swap');
//Fonts
$sec-font: 'Oswald', sans-serif;
$baze-font: 'Roboto Slab', serif;
$title-font:  'Montserrat Alternates', sans-serif;
//colors
$title-color: #484A4D;
$sec-font: #484A4D;
$text-color: #484A4D;
$icon-color: grey;
$bg-color: #E68965;

//font-sze
$title-size: 100px;
$subtitle-size: 32px;
$text-size: 24px;
$footer-size: 28px;