* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    padding: 32px 5%;
    min-height: 100vh;
    background-color: #0f1f1c;
  }
section{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.words{
  padding-top: 28px;
}
.words h1{
  text-transform: uppercase;
  font-size: 16px;
  color: azure;
  letter-spacing: 5px;
  font-weight: normal;
  padding-bottom: 5px;
  position: relative;
}
.words h1:after{
  content: "";
  position: absolute;
  display: block;
  border-bottom: 2px solid white;
  top: 25px;
  transform: translateY(50);
  width: 186.7px;
}
.social-icons{
  padding-top: 24px;
}

li{
  display: inline-block;
  margin-right: 10px;
}

li:last-child{
  margin: 0;
}
.footer{
  padding-top: 48px;
  color: azure;
  font-weight: normal;
  font-size: 12px;}

 span{
    color:#00C7FC;
  }