@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    min-width: 100vw;
    min-height: 100vh;
  }
  
  li {
    list-style: none;
  }
  
  select {
    outline: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    max-width: 431px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    color: #FBF6E4;
    background-color: #23AE92;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .3s ease;
  }
  .container {
    max-width: 431px;
    margin: 0 auto;
    padding: 0 15px;
  }


  a {
    text-decoration: none;
  }