@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');
$main-font: 'Quicksand', sans-serif;

// font-size
$tabs: 18px;
$lable: 16px;
$check: 13px;
$btn: 18px;
$help-links: 13px;

// colors
$R100: #E66A64;
$P100: #C66CD6;
$B100: #3023AE;
$G10: #E5EEEE;
$G100: #23AE92;
$W10: #FFFFFF;
$W20: #FBF6E4;
$W30: #E5EEEE;
$W40: #96C1DA;
$W60: #B9B9CC;