* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    transition: all 0.1s ease-in;
    color: $white;
}

body {
    background-color: $bg-color;
    border: 20px solid $body-border;
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
}
a{
    text-decoration: none;
}