@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

$body-border: #2b81ac;
$bg-color: #3399cc;
$lisbon-color: #339fff;
$paris-color: #33cccc;
$belgrade-color: #996699;
$moskow-color: #c24747;
$telaviv-color: #e2674a;
$cair-color: #ffcc66;
$newyork-color: #99cc99;
$newdelhi-color: #669999;
$sanfrancisco-color: #cc6699;
$tokio-color: #339966;
$sidney-color: #666699;
$white: #fff;
$black: #000;
$border-style: 2px solid $white;