.weather{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    &__head{
        color: $text-color;
        font-family: $main-font;
        font-weight: bold;
        font-size: 32px;
        margin: 24px 12%;
        align-self: start;
        justify-content: flex-start;

    }
    &__box{
        max-width: 100%;
        min-height: 500px;
        margin-bottom: 24px;
        background-color: $background-color;
        align-items: center;
        justify-content: center;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        border: 8px solid $text-color;
        height: 100%;
        width: 100%;
        font-size: 12px;
        list-style-type: none;
        
         

    }
    &__item-textchange{
        opacity: 0.7;
    }
    &__end{
        color: $text-color;
        font-family: $main-font;
        font-weight: bold;
        font-size: 15px;
        margin: 24px 12%;
        align-self: start;
        justify-content: flex-start;
    }
}
.weahter__list_item{
    display: inline-block;
    text-align: center;
    justify-content: center;
    border: 2px solid $text-color;
    color: $text-color;
    font-family: $main-font;
    font-size: 22px;
    padding: 30px 0;
    min-width: 25%;
    &:hover {
        opacity: 0.7;
    }  

    &:nth-child(1) {
        background-color: $background-color;
        min-width: 50%; 
    }
    &:nth-child(2) {
        background-color: $paris-color; 
    }
    &:nth-child(3) {
        background-color: $belgrade-color;  
    }
    &:nth-child(4) {
        background-color: $moscow-color;   
    }
    &:nth-child(5) { 
        background-color: $telaviv-color;  
    }
    &:nth-child(6) {
        background-color: $cair-color;
    }    &:nth-child(7) {
        background-color: $newyork-color; 
    }
    &:nth-child(8) {
        background-color: $newdelhi-color;
    }
    &:nth-child(9) {
        min-width: 50%; 
        background-color: $sanfrancisco-color;
    }
    &:nth-child(10) {
        background-color: $tokyo-color;
    }
    &:nth-child(11) {
        width: 100%; 
        background-color: $sydney-color;
    }
}