@font-face {
    font-family: 'NeueHansKendrick-Regular';
    src: url(../assets/fonts/NeueHansKendrick-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}
html, body {
    min-height: 100vh;
}
body{
    font-family: NeueHansKendrick-Regular;
    background-color: #e2e7ec;
}
ul{
    list-style: none;
}
h4{
    max-width: 300px;
}
main {
    background-color: $bg-color;
    padding-top: 50px;
}

.spinner-grow {
    margin-right: 10px;
}

.text-spinner {
    font-size: 13px;
    color: #99A5B0;
}