@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

$main-font: 'Noto Sans JP', sans-serif;

// colors
$background-color: #369ACA;
$border-color: #fff;
$text-color: #fff;
$paris-color: #3ACCCB;
$belgrade-color: #986797;
$moscow-color: #C14649;
$telaviv-color: #E1664E;
$cair-color: #FFCA6F;
$newyork-color: #9acb9c;
$newdelhi-color: #679999;
$sanfrancisco-color: #cb6798;
$tokyo-color: #379869;
$sydney-color: #666797;